/* 
    시계 가운데로 맞추기 15~38
    space-between하면 시계 위치가 살짝 치우쳐져 있음 
    why? status-bar__column의 비율에 따라 서로 밀어냄  
*/
.status-bar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    /* justify-content: space-between; 빈 공간 주기, 단점은 딱 중앙에 있지 않는다 */
    justify-content: center;
    padding: 5px 3px;
    background-color: white;
}

.status-bar__column {
    width: 33%; /* 3개니깐 100/3 같음 */
}

.status-bar__column:nth-child(2) {
    display: flex;
    justify-content: center;
}

.status-bar__column:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.status-bar__column .fa-battery-three-quarters {
    margin: 0px 5px;
}

/* 첫 번째 자식 span만 마진주기 (No Service <-> wifi icon) */
.status-bar__column:first-child span {
    margin-right: 5px;
}
